/* Rare beauty form fonts */

@font-face {
    font-family: 'ogg_triallight_italic';
    src: url('/fonts/ogg-lightitalic-bf646c18fc49421-webfont.woff2') format('woff2'),
         url('/fonts/ogg-lightitalic-bf646c18fc49421-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ogg_trialmedium';
    src: url('/fonts/ogg-medium-bf646c18fc45bd0-webfont.woff2') format('woff2'),
         url('/fonts/ogg-medium-bf646c18fc45bd0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ogg_trialthin';
    src: url('ogg-thin-bf646c18fc48f66-webfont.woff2') format('woff2'),
         url('ogg-thin-bf646c18fc48f66-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Css reset */

  /*  
  *  Disables standard content-box sizing.
  *
  */

  *, *::before, *::after {
    box-sizing: border-box;
  }


  /*  
  *  Removes all default margin sets the line height to meet WCAG criteria.
  *
  */

  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }


  /*
  * Removes default inline display for media and fits media to its container.
  *
  */

  img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }

  /*
  * Form controls will use parent's font.
  *
  */

  input, button, textarea, select {
  font: inherit;
  }

  /*
  * Allows paragraphs to break words and add hyphens were necessary.
  *
  */

  p {
  overflow-wrap: break-word;
  hyphens: auto;
  }

  /* Rare beauty form style sheet */

  :root {
    --border-size: 10px;
    /* Colors */
    --dark-brown: #956f53;
    --brown: #a78674;
    --light-brown: #e2cdbc;
    --red: #972a2c;
    --dark-red: #46211f;
    --white: rgb(250, 241, 234);
    --black: rgb(43, 34, 29);
  }

  body {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ogg_trialmedium;
    background-color: var(--light-brown);
  }

  .form-container {
    height: 600px;
    width: 1000px;
    display: flex;
    background-color: transparent;
    border: 2px solid var(--white);
    box-shadow: 1px 1px 5px var(--black);
    
  }

  .form-left {
    width: 450px;
  }

  .form-right {
    width: 550px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 10rem;
 }

  .form-container, .form-left {
    border-radius: var(--border-size);
  } 

  .form-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--border-size);
    border-bottom-left-radius: var(--border-size);
  }

  form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

  }

  h1 {
    word-spacing: 2px;
  }

  h1, .logo, p {
    margin-bottom: 1rem;
  }


  .form-input {
     display: flex;   
     flex-direction: column;
     gap: 10px;
  }

  label {
    color: var(--red);
  }

  input{
    appearance: none;
    padding: 0.5rem;
    height: 2rem;
    width: 150px;
    border: 2px solid var(--dark-brown);
    border-radius: var(--border-size);
    background-color: var(--white);
    outline: none; /* removes the default outline when input is being focus */
  }

  input:focus {
    border: 3px solid var(--red);
  }

  input:hover {
    background-color: var(--light-brown);
  }

  