/* Rare beauty form fonts */

@font-face {
    font-family: 'ogg_triallight_italic';
    src: url('/fonts/ogg-lightitalic-bf646c18fc49421-webfont.woff2') format('woff2'),
         url('/fonts/ogg-lightitalic-bf646c18fc49421-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ogg_trialmedium';
    src: url('/fonts/ogg-medium-bf646c18fc45bd0-webfont.woff2') format('woff2'),
         url('/fonts/ogg-medium-bf646c18fc45bd0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ogg_trialthin';
    src: url('ogg-thin-bf646c18fc48f66-webfont.woff2') format('woff2'),
         url('ogg-thin-bf646c18fc48f66-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Css reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Rare beauty form style sheet */

  :root {
    --border-size: 10px;
    /* Colors */
    --dark-brown: #956f53;
    --brown: #a78674;
    --light-brown: #e2cdbc;
    --red: #972a2c;
    --dark-red: #46211f;
    --white: rgb(250, 241, 234);
    --black: rgb(43, 34, 29);
  }

  body {
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:ogg_trialmedium ;
    background-color: var(--light-brown);
  }

  .form-container {
    height: 600px;
    width: 1000px;
    display: flex;
    background-color: transparent;
    border: 2px solid var(--white);
    box-shadow: 1px 1px 5px var(--black);
    
  }

  .form-left {
    width: 450px;
  }

  .form-right {
    width: 550px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 10rem;
 }

  .form-container, .form-left {
    border-radius: var(--border-size);
  } 

  .form-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: var(--border-size);
    border-bottom-left-radius: var(--border-size);
  }

  form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

  }

  h2, .logo {
    margin-bottom: 1rem;
  }


  .form-input {
     display: flex;   
     flex-direction: column;
     gap: 10px;
  }

  input {
    appearance: none;
    width: 150px;
    border: 2px solid var(--dark-brown)
  }


  